<!DOCTYPE html>
<html>

<head>
    <title>Iframe</title>
</head>

<body>
    <h1>Iframe Window</h1>

    <div>Count: <span id="count">0</span></div>
    <!-- <video src="{{ url_for('static', filename='videos/rap-thienmy.mp4') }}" id="video" controls autoplay muted></video> -->
    <video src="http://localhost:5000/static/videos/rap-thienmy.mp4" id="video" controls autoplay muted></video>

    <script>
        const themeChannel = new BroadcastChannel("theme");

        window.addEventListener("message", function (e) {
            let { event, value } = e.data;
            if (event === "count") {
                document.querySelector("#count").innerHTML = value;
            }
            if(event === "audio") {
                document.querySelector("#video").muted = !value;
            }
        });

        themeChannel.addEventListener("message", function (e) {
            let { event, value } = e.data;

            if (event === "theme") {
                switch (value) {
                    case "dark":
                        document.body.style.backgroundColor = "#333";
                        break;
                    case "light":
                        document.body.style.backgroundColor = "#fff";
                        break;
                    default:
                        break;
                }
            }
        });
    </script>
</body>

</html>