<!DOCTYPE html>
<html>

<head>
    <title>Parent Window</title>
</head>

<body>
    <h1>Parent Window</h1>
    <button type="button" id="btnCount">Increase</button>
    <select id="sltTheme" style="width: 10vw;">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
    </select>

    <iframe id="counterIframe" src="iframe.html" style="width: 100%; height: 300px;"></iframe>

    <script>
        let count = 0;

        const themeChannel = new BroadcastChannel("theme");

        document.getElementById("btnCount").addEventListener("click", function () {
            count++;
            let payload = { event: "count", value: count };
            document.getElementById("counterIframe").contentWindow.postMessage(payload, "*");
            console.log("Click");
        });

        document.getElementById("sltTheme").addEventListener("change", function (e) {
            let payload = { event: "theme", value: e.target.value };
            themeChannel.postMessage(payload);
        });
    </script>
</body>

</html>