<!DOCTYPE html>
<html>

<head>
    <title>Parent Window</title>
</head>

<body>
    <h1>Parent Window</h1>
    <button type="button" id="btnCount">Click</button>

    <iframe id="myIframe" src="iframe.html" style="width: 100%; height: 300px;"></iframe>

    <script>
        let count = 0;

        document.getElementById("btnCount").addEventListener("click", function () {
            count++;
            let payload = { event: "count", value: count };
            window.parent.postMessage(payload, "*");
            console.log("Click");
        });
    </script>
</body>

</html>